.popup {
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
   // .popup__body
   &__body {
      min-height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;
   }
   // .popup__content
   &__content {
      background-color: #fff;
      color: #000;
      max-width: 800px;
      padding: 30px;
      position: relative;
      transition: all 0.8s ease 0s;
      opacity: 0;
      transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
      &_image {
         padding: 0;
      }
   }
   // .popup__image
   &__image {
      img {
         max-width: 100%;
         vertical-align: top;
      }
   }
   // .popup__close
   &__close {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 20px;
      color: #000;
      text-decoration: none;
   }
   // .popup__title
   &__title {
      font-size: 40px;
      margin: 0px 0px 1em 0px;
   }
   // .popup__text
   &__text {}
}
.popup.open {
   opacity: 1;
   visibility: visible;
}
.popup.open .popup__content {
   transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
   opacity: 1;
}