.hello {
   padding: 38px 0px 70px 0px;
   @media (max-width: $md1+px) {
      padding: 0px 0px 70px 0px;
   }
   @media (max-width: $md3+px) {
      padding: 0px 0px 60px 0px;
   }
   // .hello__container
   &__container {
      display: flex;
      align-items: flex-start;
      @media (max-width: $md3+px) {
         flex-direction: column-reverse;
         text-align: center;
         align-items: center
      }
   }
   // .hello__content
   &__content {      
      padding: 18px 110px 0px 0px;
      flex: 1 1 auto;
      // Если вдруг кнопки .hello__btn не будет в HTML, чтобы не образовывался
      // "висячий отступ" у последнего элемента блока .hello__content
      *:last-child {
         margin-bottom: 0;
      }
      @media (max-width: $md1+px) {
         padding: 18px 50px 0px 0px;
      }
      @media (max-width: $md3+px) {
         padding: 0;
      }
   }
   // .hello__avatar
   &__avatar {
      flex: 0 0 243px;
      height: 243px;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      box-shadow: -5px 13px 0px 0px #edf7fa;
      @media (max-width: $md3+px) {
         flex: 0 0 170px;
         width: 170px;
         height: 170px;
         margin: 0px 0px 40px 0px;
      }
   }
   // .hello__title
   &__title {      
      margin: 0px 0px 25px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
      }
   }
   // .hello__text
   &__text {      
      margin: 0px 0px 35px 0px;
      @media (max-width: $md3+px) {
         padding: 0px 15px;
         margin: 0px 0px 25px 0px;
      }
   }
   // .hello__btn
   &__btn {
      margin: 0px 0px 25px 0px;
      @media (max-width: $md3+px) {
         margin: 0px 0px 20px 0px;
      }
   }   
}
//========================================
.recent-posts {
   background-color: #edf7fa;
   padding: 25px 0px 13px 0px;
   @media (max-width: $md3+px) {
      padding: 25px 0px 23px 0px;
   }
   // .recent-posts__container
   &__container {
   }
   // .recent-posts__header
   &__header {
      display: flex;
      margin: 0px 0px 20px 0px;
   }
   // .recent-posts__title
   &__title {
      flex: 1 1 auto;      
      padding: 0px 20px 0px 0px;
   }
   // .recent-posts__view-all
   &__view-all {
      flex: 0 0 auto;//чтобы текст не переносился на несколько строк, то же самое можно было бы сделать white-space
      font-size: 16px;
      line-height: 23px;
      color: #00a8cc;
      @media (max-width: $md3+px) {
         display: none;
      }
   }
   // .recent-posts__items
   &__items {      
      margin: 0px -10px;
      @media (min-width: $md3+px) {
         display: flex;
      }
   }
   // .recent-posts__column
   &__column {
      flex: 0 1 50%;
      padding: 0px 10px;
      margin: 0px 0px 17px 0px;
   }
   // .recent-posts__item
   &__item {
   }
}
.recent-post {
   height: 100%; // Для выравнивания соседних блоков по высоте
   background-color: #fff;
   box-shadow: 0px 4px 0px rgba(187,225,250,0.25);
   border-radius: 4px;
   padding: 20px;
   @media (max-width: $md3+px) {
      padding: 15px;
   }
   // .recent-post__title
   &__title {
      display: inline-block;
      color: inherit;
      font-size: 26px;
      font-weight: 700;
      line-height: calc(38/26)*100%;
      transition: color 0.3s ease 0s;
      margin: 0px 0px 17px 0px;
      &:hover {
         color: #ff6464;
      }
      @media (max-width: $md3+px) {
         font-size: 22px;
         margin: 0px 0px 10px 0px;
      }
   }
   // .recent-post__info
   &__info {
      font-size: 18px;
      line-height: calc(26/18)*100%;
      margin: 0px 0px 15px 0px;
      span {
         margin: 0px 10px;
      }
      @media (max-width: $md3+px) {
         font-size: 16px;
         margin: 0px 0px 10px 0px;
      }
   }
   // .recent-post__text
   &__text {
   }
}
//========================================
.featured-works {
   padding: 30px 0px 80px 0px;
   @media (max-width: $md3+px) {
      padding: 30px 0px 30px 0px;
   }
   // .featured-works__container
   &__container {}
   // .featured-works__title
   &__title {
      margin: 0px 0px 20px 0px;
   }
   // .featured-works__items
   &__items {
      @media (max-width: $md3+px) {
         display: flex;
         overflow: auto;
         .works__item {
            flex: 0 0 90%;
            margin: 0px 15px 0px 0px;
         }
      }
   }
}

//========================================
//========================================