//=======================================
.checkout {   
   // .checkout__title
   &__title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 900;
      color: #dadada;
      font-family: "UniSans";
      margin: 0px 0px 15px 0px;
   }
   // .checkout__content
   &__content {
      margin: 0px 0px 45px 0px;
      @media (max-width: $md3+px) {
         margin: 0px -10px 25px 0px;
      }
   }
   // .checkout__order
   &__order {
      @media (max-width: $md2+px) {
         margin: 0px 0px 30px 0px;
      }
   }
}
.order-checkout {
   // .order-checkout__title
   &__title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 900;
      color: #dadada;
      font-family: "UniSans";
      margin: 0px 0px 15px 0px;
   }
   
   // .order-checkout__items
   &__items {
   }
   // .order-checkout__item
   &__item {
      margin: 0px 0px 10px 0px;
      &:last-child {
         margin: 0;
      }
   }
   // .order-checkout__footer
   &__footer {
      padding: 25px 0px 0px 0px;
      text-align: right;
   }
   // .order-checkout__total
   &__total {
      margin: 0px 0px 15px 0px;
      font-weight: 900;
      color: #333;
      text-transform: uppercase;
      font-size: 24px;
      span {
         color: #f68039;
         font-size: 36px;
      }
      @media (max-width: $md2+px) {
         font-size: 18px;
         span {
            font-size: 30px;
         }
      }
   }
   // .order-checkout__btn
   &__btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 15px;
      height: 33px;
      background-color: #f68038;
      color: #fff;
      padding: 0px 15px;
   }
}
.item-order {
   position: relative;
   display: flex;
   align-items: center;
   padding: 15px;
   border: 1px solid #f5f5f5;
   @media (max-width: 700px) {
      justify-content: space-between;
      flex-wrap: wrap;
   }
   // .item-order__content
   &__content {
      display: flex;
      flex: 0 1 50%;
      align-items: center;
      @media (max-width: 700px) {
         flex: 1 1 100%;
         padding: 0px 30px 10px 0px;
      }
   }
   // .item-order__image
   &__image {
      flex: 0 0 110px;
      img {
         max-width: 100%;
      }
      @media (max-width: $md4+px) {
         flex: 0 0 80px;
      }
   }
   // .item-order__body
   &__body {
      flex: 1 1 auto;
      padding: 0px 0px 0px 25px;
   }
   // .item-order__title
   &__title {
      color: #36949f;
      line-height: 16px;
      display: inline-block;
      margin: 0px 0px 10px 0px;
      span {
         font-weight: 900;
      }
   }
   // .item-order__price
   &__price {
      color: #333;
      font-size: 24px;
      font-weight: 900;
      @media (max-width: $md4+px) {
         font-size: 18px;
      }
   }
   // .item-order__quantity
   &__quantity {
      flex: 1 1 auto;
      padding: 0px 30px;
      @media (max-width: 700px) {
         flex: 0 0 auto;
         padding: 0px 15px 0px 0px;
      }
   }
   // .item-order__total
   &__total {
      @media (min-width: 700px) {
         flex: 1 1 auto;
      }      
   }
   // .item-order__label
   &__label {
      color: #999;
      font-size: 16px;
      font-weight: 300;
      margin: 0px 0px 5px 0px;
   }
   // .item-order__delete
   &__delete {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 15px;
      right: 15px;
      background: url('../img/icons/delete.png') 0 0 no-repeat;
      @media (min-width: $md2+px) {
         &:hover {
            background: url('../img/icons/delete-hover.png') 0 0 no-repeat; 
         }
      }
   }
}
//=======================================
.content-checkout {
   padding: 20px;
   background-color: #fafafa;
   @media (min-width: $md1+px) {
      padding: 20px 45px;
   }   
   // .content-checkout__nav
   &__nav {      
      @media (min-width: $md1+px) {         
         display: flex;
      }
      @media (max-width: $md3+px) {
         margin: -20px -20px 0px -20px;
      }
   }
   // .content-checkout__item
   &__item {
      cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 49px;
		color: #72c9d4;
		text-transform: uppercase;
		font-weight: 900;
		padding: 0px 30px;
		span {
			border-bottom: 1px dashed;
		}
		&._active {
			background-color: #72c9d4;
			color: #fff;
			span {
				border-bottom: 1px dashed transparent;
			}
		}
		@media (max-width: $md3+px) {
			flex: 1 1 auto;
			padding: 0px 15px;
		}
   }
   // .content-checkout__body
   &__body {
      padding: 30px 0px 0px 0px;
   }
   // .content-checkout__block
   &__block {}
   // .content-checkout__form
   &__form {}
}
//=======================================
.form-checkout {
   @media (min-width: $md1+px) {
      display: flex;
      margin: 0px -15px;
   }   
   // .form-checkout__column
   &__column {
      @media (min-width: $md1+px) {
         padding: 0px 15px;
         flex: 0 1 50%;
      }      
   }
   // .form-checkout__line
   &__line {      
      align-items: center;
      margin: 0px 0px 10px 0px;
      &:last-child {
         margin: 0;
      }
      @media (min-width: $md3+px) {
         display: flex;
      }
   }
   // .form-checkout__label
   &__label {
      flex: 0 0 110px;
      color: #333;
      font-weight: 900;
      span {
         color: #f68038;
      }
      @media (max-width: $md3+px) {
         margin: 0px 0px 10px 0px;
      }
   }
   // .form-checkout__input
   &__input {
      flex: 1 1 auto;      
      @media (min-width: $md3+px) {
         padding: 0px 0px 0px 15px;
      }
   }
   // .form-checkout__text
   &__text {
      p {
         color: #666;
         font-size: 12px;
         line-height: 18px;
         font-weight: 30;
         span {
            color: #f68038;
         }
         margin: 0px 0px 20px 0px;
         &:last-child {
            margin: 0;
         }
      }
      @media (max-width: $md1+px) {
         padding: 20px 0px 0px 0px;
      }
   }
}
//=======================================