/* ОБНУЛЕНИЕ > */
*, *:before, *:after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

/* < ОБНУЛЕНИЕ */
html,body {
  height: 100%;
}
body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #333;
  color: #fff;
  font-size: 25px;
}
.wrapper {
  height: 100%;
  padding: 10px 50px;
}
h2,p {
  text-align: center;
  margin: 20px 0px 20px 0px;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 18px;
}

/* Слайдер общие стили*/
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start; /*Этот параметр нужен, чтобы работал корректно adaptiveHeight: true*/
}

/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}

/* Стрелка */
.slick-arrow {}
/* Стрелка влево */
.slick-arrow.slick-prev {}
/* Стрелка вправо */
.slick-arrow.slick-next {}
/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/* Стили для слайдера '.slider')*/
.slider {
  padding: 30px 60px;
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 34px;
  margin: -17px 0px 0px 0px; /* возвращаем стрелку по центру */
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url('../img/sl-arrow_l.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url('../img/sl-arrow_r.png') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .slick-dots li {
  list-style: none;
  margin: 0px 10px;
}
.slider .slick-dots li button {
  font-size: 0; /* убираем цифры */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
}
/* для активной кнопки */
.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}
.slider__item {
  text-align: center;
}
/* Стили для слайдера '.sliderbig')*/
.sliderbig__item {
  text-align: center;
}