* {
  box-sizing: border-box;
}

html {
	font: 10px/1.1 Verdana, sans-serif;
}

body {
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	color: rgba(26, 127, 131, 1);
}

p, label {
	font-size: 1.5em;
	margin: 0;
	padding: 10px;
}

label {
	display: inline-block;
}

.col2
{
	display: flex;
}

section {
	flex: 1 200px;
	background-color: rgba(167, 240, 243, .2);
	border: 2px solid rgba(167, 240, 243, 1);
}

section:nth-of-type(2) {
	flex: 2 200px;
}

.guessSubmit {
	margin: 10px;
	min-width: 100px;
	font-weight: 700;
	letter-spacing: .1em;
    padding:5px 15px; 
    background:rgba(26, 127, 131, .5);
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}