@charset "UTF-8";

/* ОБНУЛЕНИЕ > */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: red;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0px 0px 20px 0px;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1.8;
  font-size: 18px;
  background-color: #383838;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body.lock {
  overflow: hidden;
}

/* < ОБНУЛЕНИЕ */

/* ОБОЛОЧКА > */

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

/* < ОБОЛОЧКА */

/* ОСНОВНОЙ БЛОК > */

._container {
  max-width: 1070px;
  margin: 0px auto;
  padding: 0px 15px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  margin: 0px 0px 50px 0px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.header__phone {
  color: #fff;
}

.content {
  padding: 130px 0px 0px 0px;
}

.content__section {
  margin: 0px 0px 50px 0px;
}

.content__section_row {
  margin: 0px -20px 50px -20px;
}

.content__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 20px;
}

.content__title {
  font-size: 40px;
  margin: 0px 0px 0.5em 0px;
}

.content__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: block;
  padding: 0px 20px;
}

.content__image img {
  max-width: 100%;
}

.content__subtitle {
  font-size: 30px;
  margin: 0px 0px 0.5em 0px;
}

.popup {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}

/* < ОСНОВНОЙ БЛОК */

@media (min-width: 992px) {
  .content__section_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}