/* ФОРМЫ (a.f) >*/
.form{}
.form-row{@include flexbox();margin: 0px 15px;}
.form__column{padding: 0px 15px}
.form-input{}
.form-button{}
/* < ФОРМЫ (a.f) */
//===================================

/* BUTTONS (a.btn) >*/
.btn {
	height: 50px;
	line-height: 50px;
	background-color: #000;
	display: inline-block;
	padding: 0px 33px;
	font-size: 15px;
	font-family: 'Bebas';
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 1.5px;
	&--w{
		background-color: #fff;
		color: #000;
	}
	&:hover{}
	&:fw{width: 100%}
}
/* < BUTTONS (a.btn) */
//===================================
/* INPUT >*/
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
.input {
	border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 0px 20px;
	&.focus {}
	&.err {}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

/* < INPUT */