/* ОБНУЛЕНИЕ > */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
*,*:before,*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
 }
 a {
	text-decoration: none;
 }
 ul,ol,li {
	list-style: none;
 }
 img {
	vertical-align: top;
 }
 h1,h2,h3,h4,h5,h6 {
	font-weight: inherit;
	font-size: inherit;
 }
html,body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	background-color: #0b1d26;
	color: #fff;
	font-family: "PT Sans";
}
/* < ОБНУЛЕНИЕ */

/* ОБОЛОЧКА > */
.wrapper{
	min-height: 100%;
}
/* < ОБОЛОЧКА */

/* ОСНОВНОЙ БЛОК > */
//===========================================================
._container {
	max-width: 1000px;
	margin: 0px auto;
	padding: 50px 20px;
}
//===========================================================
.parallax {
	min-height: 100vh;
	// .parallax__body
	&__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .parallax__container
	&__container {
		text-transform: uppercase;
		position: relative;
		z-index: 2;
	}
	// .parallax__label
	&__label {
		display: flex;
		align-items: center;
		font-size: 18px;
		letter-spacing: 6px;
		color: #fbd784;
		margin: 0px 0px 30px 0px;
		&:before {
			content: "";
			flex: 0 0 70px;
			background-color: #fbd784;
			height: 1px;
			margin: 0px 30px 0px 0px;
		}
		@media (max-width: 767px) {
			font-size: 16px;
			margin: 0px 0px 15px 0px;
		}
		@media (max-width: 479px) {
			&:before {
				flex: 0 0 50px;
				margin: 0px 10px 0px 0px;
			}
		}
	}
	// .parallax__title
	&__title {
		font-size: 88px;
		@media (max-width: 767px) {
			font-size: 50px;
		}
		@media (max-width: 479px) {
			font-size: 36px;
		}
	}
	// .parallax__images
	&__images {
		position: absolute;
		z-index: 1;
		width: 120%;
		height: 120%;
		top: -10%;
		left: -10%;
	}
}
//===========================================================
.images-parallax {
	// .images-parallax__item
	&__item {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	// .images-parallax__clouds,
	// .images-parallax__mountains,
	// .images-parallax__human
	&__clouds,
	&__mountains,
	&__human {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
	}
	// .images-parallax__clouds
	&__clouds {
		background: url('../img/clouds.jpg') top / cover no-repeat;
		top: 0;
	}
	// .images-parallax__mountains
	&__mountains {
		background: url('../img/mountains.png') top / cover no-repeat;
		top: 15%;
		z-index: 2;
	}
	// .images-parallax__human
	&__human {
		background: url('../img/human.png') top / cover no-repeat;
		top: 45%;
		z-index: 3;
		@media (max-aspect-ratio: 3/2) {
			background-position: 20% top;
		}
	}
}
//===========================================================
.content {
	background-color: #0b1d26;
	position: relative;
	z-index: 2;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 300px;
		top: 0;
		left: 0;
		background: linear-gradient(180deg, rgba(11,29,38,0) 5%, #0b1d26 100%);
		transform: translate(0px, -100%);
		pointer-events: none;
	}
	// .content__container
	&__container {
	}
	// .content__title
	&__title {
		font-size: 35px;
		margin: 0px 0px 30px 0px;		
	}
	// .content__text
	&__text {
		font-size: 16px;
		line-height: 1.5;
		p {
			margin: 0px 0px 30px 0px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
//===========================================================

/* < ОСНОВНОЙ БЛОК */